<a href="https://colab.research.google.com/github/noon55555/exam-platform/blob/main/Lab_1_Text_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instruction
1. อ่าน file ทวิตรีวิวสายการบิน Tweets.csv 
2. เลือกเฉพาะสายการบิน United
3. ทำให้ข้อมูลเหลือเพียง 2 columns คือ 1. ค่าความพึงพอใจ(airline_sentiment) 2. tokenized text ซึ่งคั่นแต่ละ token ด้วย '|' เหมือนในตัวอย่างข้างล่าง

**@|united|Thanks|for|taking|care|of|that**
4. ทวิตรีวิวสายการบิน United ส่วนใหญ่เป็นกลาง, ลบ หรือบวก?

In [1]:
!gdown --id 1E-iV3nbBZP3mdwlDA9eTrQkFDjiAzsO0

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1E-iV3nbBZP3mdwlDA9eTrQkFDjiAzsO0
To: /content/Tweets.csv
100% 3.42M/3.42M [00:00<00:00, 132MB/s]

In [2]:
import pandas as pd
import nltk
nltk.download('punkt')
from nltk.tokenize import PunktSentenceTokenizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [3]:
file = pd.read_csv('Tweets.csv')

In [4]:
file.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [5]:
df = pd.DataFrame(file)
df = df[df['airline'] == 'United']

df = df[['airline_sentiment', 'text']]

df.head()

    airline_sentiment                                               text
504          positive                                     @united thanks
505          positive  @united Thanks for taking care of that MR!! Ha...
506          negative  @united still no refund or word via DM. Please...
507          negative  @united Delayed due to lack of crew and now de...
508          positive  @united thanks -- we filled it out. How's our ...

In [6]:
df = df.reset_index(drop=True)

tokenizer = PunktSentenceTokenizer()

df['words_array'] = ''
df['sentences_array'] = ''

for row in range(df['text'].shape[0]):
  words = nltk.word_tokenize(df['text'][row])
  sentences = tokenizer.tokenize(df['text'][row])
  df['words_array'][row] = words
  df['sentences_array'][row] = sentences

df.head()

,airline_sentiment,text,words_array,sentences_array
0,positive,@united thanks,"[@, united, thanks]",[@united thanks]
1,positive,@united Thanks for taking care of that MR!! Ha...,"[@, united, Thanks, for, taking, care, of, tha...","[@united Thanks for taking care of that MR!!, ..."
2,negative,@united still no refund or word via DM. Please...,"[@, united, still, no, refund, or, word, via, ...","[@united still no refund or word via DM., Plea..."
3,negative,@united Delayed due to lack of crew and now de...,"[@, united, Delayed, due, to, lack, of, crew, ...",[@united Delayed due to lack of crew and now d...
4,positive,@united thanks -- we filled it out. How's our ...,"[@, united, thanks, --, we, filled, it, out, ....","[@united thanks -- we filled it out., How's ou..."

In [7]:
df['words_count'] = df['words_array'].str.len()
df['sentences_count'] = df['sentences_array'].str.len()

df.head()

,airline_sentiment,text,words_array,sentences_array,words_count,sentences_count
0,positive,@united thanks,"[@, united, thanks]",[@united thanks],3,1
1,positive,@united Thanks for taking care of that MR!! Ha...,"[@, united, Thanks, for, taking, care, of, tha...","[@united Thanks for taking care of that MR!!, ...",14,2
2,negative,@united still no refund or word via DM. Please...,"[@, united, still, no, refund, or, word, via, ...","[@united still no refund or word via DM., Plea...",27,2
3,negative,@united Delayed due to lack of crew and now de...,"[@, united, Delayed, due, to, lack, of, crew, ...",[@united Delayed due to lack of crew and now d...,28,1
4,positive,@united thanks -- we filled it out. How's our ...,"[@, united, thanks, --, we, filled, it, out, ....","[@united thanks -- we filled it out., How's ou...",20,3

In [8]:
df['words_count'].sum()

85991

In [9]:
df['sentences_count'].sum()

7744

In [10]:
df['airline_sentiment'].value_counts()

negative    2633
neutral      697
positive     492
Name: airline_sentiment, dtype: int64